@import "./resources";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html body {
  color: $text-color;
  font-family: $font-family-inter;
  font-size: 16px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: auto;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

@supports (-ms-ime-align: auto) {
  body {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

/* Microsoft Edge (Chromium) */
@supports (-ms-ime-align: auto) and (not (-ms-accelerator: true)) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

a {
  background-color: transparent;
}
