@import "../../styles/resources";
.container {
  @include displayFlex(column);
  row-gap: 1rem;
  padding-left: 2rem;

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;

    .card {
      max-width: 360px;
      @include displayFlex(column);
      background-color: (255, 255, 255);
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px;
      padding: 1rem;
      row-gap: 1rem;
    }
  }
}

.header {
  @include displayFlex(column);
  row-gap: 1rem;
  max-width: 320px;
  flex-wrap: wrap;

  .jobInfo {
    @include displayFlex();
    column-gap: 8px;

    .title {
      @include displayFlex(column);
      row-gap: 5px;

      .companyName {
        @include typoGraphy("", 600, 13px, 100%, 1px, #8b8b8b);
      }
      .position {
        @include typoGraphy("", 300, 14px, 1.5, 0);
      }
      .location {
        @include typoGraphy("", 500, 11px);
      }
    }

    .logo {
      height: 40px;
      border-radius: 20px;
    }
  }

  .salary {
    @include typoGraphy("", 300, 14px);
  }
}

.body {
  max-width: 320px;
  @include displayFlex(column);
  flex-wrap: wrap;
  row-gap: 1rem;

  .title {
    @include typoGraphy("", 500, 14px);
  }

  .jobDesc {
    height: 200px;
    overflow: hidden;
    @include typoGraphy("", 300, 14px);
    white-space: pre-wrap;
    mask-image: linear-gradient(
      rgb(255, 255, 255),
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0)
    );
  }

  .showMore {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
    position: relative;
    top: -20px;

    .text {
      @include typoGraphy(null, 300, 13px, 21px, 0, #4943da);
      cursor: pointer;
    }
  }

  .workEx {
    .workTitle {
      @include typoGraphy(null, 600, 13px, 100%);
    }

    .exp {
      @include typoGraphy(null, 400, 14px, 1.5);
    }
  }
}

.btn {
  background-color: rgb(85, 239, 196) !important;
  .btnTitle {
    width: 100%;
    color: black;
    @include typoGraphy(null, 500, 14px, 100%, 0, "#000000");
    text-decoration: none;
  }
}

.filters {
  @include displayFlex(row, space-between, center);
  column-gap: 1rem;
}
